<head>
  <title>Mat Dombrock</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8"/>
</head>
<div class="header">
  <h1><a href="/"><img src="/favicon.ico" width="25px" >Mathieu Dombrock</a></h1>
  
</div>
<small id="tagline" class="tagline" onclick="loadTagline()" style="cursor:pointer;">"Baseless claims & crimes against computing."</small>
<hr>
<div class="nav">
  <a href="/">home</a> |
  <a href="/about.html">about</a> |
  <a href="/search.html">search</a> |
  <a href="https://github.com/matdombrock" target="_blank">github</a> |
  <input type="text" placeholder="local search" id="nav-search" style="float:right;">
</div>
<hr>

<script>
  document.getElementById('nav-search').addEventListener("keydown", function (e) {
      if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
          search()
      }
  });

  function search(){
    window.location.href = "/directory.html?s="+encodeURIComponent(document.getElementById('nav-search').value);
  }
  const quotes = [
    "Baseless claims & crimes against computing.",
    "Something should go here...",
    "This is a website.",
    "Did you see how fast this page loaded?",
    "Down with the OOP!",
    "I for one, welcome our new robot overlords.",
    "Is this thing on?",
    "Does anyone read this?",
    "Drink more water.",
    "This site, but it's John Coltrane's 'Giant Steps'.",
    "You are the "+Math.random()*10e6+"th visitor!",
    "SMASH that like button!",
    "Web 4.0",
    "Now available in color!",
    "Now available on 5G!",
    "Now available in VR!",
    "Did you notice these change every time?",
    "This site contains a secret game().",
    "Version Number: "+Math.random()*10+"."+Math.random()*10,
    "Click me!",
    "What is this? 1997?",
    "Thanks for visiting.",
    "Yet another tech blog.",
    "Yet another Warcraft 3 Map.",
    //
    "EX-TER-MIN-ATE! EX-TER-MIN-ATE!",
    "We also have a rogue robot policy.",
    "Give me an analysis, Joey.",
    "You didn't tell me you could fly!",
    "What's that ROBOT doing here?",
    
  ];
  function loadTagline(){
    document.getElementById('tagline').innerHTML = '"'+quotes[Math.floor(Math.random() * quotes.length)]+'"';
  }
  loadTagline();
  function game(input){
    console.log("This is a game (true me)");
    console.log("You said: "+input);
    if(input === 1337){
      console.log('win');
    }else{
      alert('fail');
      window.location.replace("https://youtu.be/dQw4w9WgXcQ");
    }
  }

</script>