/*rgb(228, 172, 106);*/
:root{
  --bg:rgb(27, 27, 27);
  --main:rgb(254, 100, 216);
  --secondary:rgb(97, 255, 202);
  --highlight:rgb(252, 179, 211);
  --text:rgb(224, 220, 214);
}
body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  background:var(--bg);
  color:var(--text);
  margin:0 auto;
  line-height: 150%;
}
body::selection { color: var(--highlight) }
a{
  color:var(--highlight);
  transition:all 0.2s;
  font-family: 'Courier New', monospace;
}
a:hover{
  color:var(--highlight);
}
blockquote{
  border-left:3px solid var(--secondary);
  padding-left:1rem;
  color:var(--secondary);
}
img{
  max-width:100%;
}
small{
  color:var(--secondary);
}
h1{
  color:var(--text);
}
h1 a{
  text-decoration: none;
  color:var(--text);
}
h2::before {
  content: "λ";
  color: var(--main);
  margin-right: 0.5rem;
}
h3::before {
  content: "//";
  color: var(--main);
  margin-right: 0.5rem;
}
h1,h2,h3,h4{
  color:var(--secondary);
  font-family: 'Courier New', monospace;
}
/* hr{
  border-color: var(--text);
  outline-color: var(--text);
} */
.header{
  background-image: url('/img/md-banner3.jpg');
  background-size: cover;
  background-position: center;
  min-height:300px;
  padding:1rem;
}
.header h1 {
  text-decoration: none!important;
}
.tagline{
  padding:1rem;
  display: block;
  text-align: right;
}
.archive-msg{
  background:rgb(155, 75, 75);
  color:var(--text);
  padding:1rem;
}
.nav{
  padding:1rem;
}
.nav a{
  text-decoration: none;
}
.hljs {
  background: var(--bg);
  border-radius: 0.5rem;
  /* Inset shadow */
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 1);
  border: 1px solid var(--text);
  padding: 1rem;
}
.ss-content{
  max-width:1000px;
  margin-left:10vw;
  padding:1rem;
}
@media only screen and (max-width: 1200px) {
  .ss-content{
    margin-left:0;
  }
}
.footer{
  padding:1rem;
}
/* GH Repo card override*/
.repo-card a{
  color:var(--highlight)!important;
}
